@import url("./src/style/navbar.css");
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", serif;
  background-color: #fff;
}

h1,
h2,
h3,
.title,
.subtitle {
  font-family: "Berkshire Swash", serif;
  font-style: normal;
}

.header-titles {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 5rem;
}

.header-titles h2 {
  font-size: clamp(1.5rem, 5vw, 2rem);

}

.header-titles h2::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #ffa600;
}

p {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}

main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 5rem auto;
}

input {
  width: 100%;
  height: 100%;
  padding: 0px 20px;
  border-radius: 100px;
  border: none;
  background-color: transparent;
  color: white;
}

input::placeholder {
  font-weight: bold;
  color: white;
}

input:focus {
  outline: none;
}

select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 100px;
}

textarea,
textarea:focus {
  resize: none;
  border: none;
  outline: none;
}

button {
  width: 100%;
  color: white;
  padding: 0.9rem 1.3rem;
  border: 0.2rem solid white;
  font-size: 1.2rem;
  text-decoration: none;
  letter-spacing: 5px;
  cursor: pointer;
  background-color: transparent;
}

.calendario {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(6, minmax(0, 60px));
  gap: 2px;
  margin-bottom: 1rem;
}

.horario {
  position: fixed;
  inset: 0;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 0 1rem;
}

.diasCalendario {
  color: lightgray;
  background-color: white;
  cursor: pointer;
  height: 100%;
  padding: 0.3rem;
}

.form_group {
  position: relative;
  border-bottom: 1px solid white;

  margin-bottom: 1rem;
}

.form_group label {
  position: absolute;
  color: white;
  background-color: lightgrey;
  pointer-events: none;
  font-size: 1.1rem;
  left: 0;
  top: 0;
  transition: 0.3s ease all;
}

.form_group input:not(:placeholder-shown) ~ label,
.form_group select:not(:placeholder-shown) ~ label,
.form_group input:focus ~ label,
.form_group select:focus ~ label {
  top: -15%;
  left: 5%;
  font-size: 0.8rem;
}

.diasCalendario.inActive {
  pointer-events: none;
  opacity: 0.5;
}

.form.active {
  display: block;
}

.inactive {
  display: none;
}

.popUp {
  position: fixed;
  inset: 0;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popUp-content {
  width: 100%;
  max-width: 500px;
  background-color: white;
  padding: 1rem 2rem;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
}

.popUp-content p {
  margin-bottom: 1rem;
}

.popUp-content strong {
  font-size: 2rem;
  display: block;
  margin-bottom: 0.5rem;
}

.popUp-content span {
  display: block;
}

.popUp-btns {
  display: flex;
  justify-content: space-between;
}

.popUp-btns button {
  width: min-content;
  background-color: white;
  color: white;
  padding: 0.5rem 2rem;
}

.popUp-btns :nth-child(1) {
  background-color: red;
}

.popUp-btns :nth-child(2) {
  background-color: orange;
}

.info {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 1rem;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
}

.info_hader {
  background-color: rgba(255, 166, 0, 0.616);
  color: white;
  padding: 0.8rem 1rem;
  text-transform: uppercase;
}

.info_body {
  padding: 1rem;
  background-color: rgba(255, 166, 0, 0.426);
  color: white;
  font-size: 0.8rem;
  line-height: 1.4;
  letter-spacing: 1px;
}

.banner_info {
  position: relative;
  width: 100%;
}

.banner-img img {
  display: block;
  width: 100%;
  height: 100dvh;
  object-fit: cover;
  filter: contrast(80%);
}

.banner-content {
  position: absolute;
  inset: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-content h4 {
  color: white;
  font-size: 1.5rem;
  text-align: center;
}

.banner-content p {
  color: white;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.cta-reserva {
  color: white;
  padding: 0.9rem 1.3rem;
  border: 0.2rem solid white;
  font-size: 1.2rem;
  text-decoration: none;
  letter-spacing: 5px;
  cursor: pointer;
}

.pannel-calendario {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  margin-left: 1rem;
  font-size: 1.3rem;
}

.dia-inactive {
  display: none;
  pointer-events: none;
}

.dia-active {
  display: block;
  pointer-events: all;
}

.servicios {
  max-width: 1200px;
  margin: 8rem auto;
}

.servicios-body {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
}

.servicio {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.servicio-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
}

.servicio-content h4 {
  font-size: clamp(1.2rem, 5vw, 1.5rem);
  font-weight: 400;
}

.servicio-content p {
  font-weight: 300;
  color: #333333d5;
}

.servicio img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .servicios-body {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .servicio {
    width: 33, 33%;
  }

  .servicio-content {
    max-width: 90%;
    gap: 1rem;
  }

  .servicio-content h4 {
    font-size: 1.5rem;
  }

  .servicio-content p {
    font-size: 1;
    line-height: 1.4;
  }
}

/*
  contact section
*/
.contacto {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.contacto-body {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5rem;
}

.contacto-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.contacto-info-item {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  padding-top: 2.5rem;
  color: rgba(0, 0, 0, 0.2);
  position: relative;
  font-size: 1.1rem;
}

.contacto-info-item::after {
  box-sizing: border-box;
  content: "";
  width: 50%;
  height: 1px;
  background-color: lightgrey;
  position: absolute;
  top: 0;
}

.contacto-info-item::before {
  position: absolute;
  content: attr(data-content);
  text-align: center;
  top: -15px;
  background-color: #fff;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  color: lightgrey;
  padding: 0 1rem;
  font-weight: 300;
}

.contacto-form {
  background-color: lightgrey;
  padding: 4rem 2rem;
}

.form_contacto {
  display: grid;
  grid-template-areas:
    "inputName"
    "inputEmail"
    "inputMessage"
    "btn";
  gap: 1rem;
  width: 70%;
  margin: 0 auto;
}

.contacto-form input,
.contacto-form textarea {
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  background-color: transparent;
  color: #ffa600;
}

.form_group--name {
  grid-area: inputName;
}

.form_group--email {
  grid-area: inputEmail;
}

.form_group--message {
  grid-area: inputMessage;
}

.form_group label {
  font-size: clamp(0.8rem, 5vw, 1rem);
  background-color: lightgray;
  color: white;
}

.contacto-form .btn {
  width: 100%;
  padding: 1rem;
  color: white;
  background-color: rgba(255, 166, 0, 0.877);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  grid-area: btn;
}

@media screen and (min-width: 768px) {
  .contacto {
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
  }

  .contacto-body {
    grid-template-columns: 1fr 1fr;
    gap: 0;
  }

  .contacto-info {
    gap: 2rem;
    justify-content: center;
    justify-self: center;
    max-width: 400px;
  }

  .contacto-info-item {
    font-size: 1.2rem;
  }

  .contacto-form {
    width: 100%;
    padding: 4rem;
  }

  .contacto-form form {
    grid-template-areas:
      "inputName inputEmail"
      "inputMessage inputMessage"
      "btn btn";
    gap: 1rem 4rem;
    max-width: 500px;
    margin: 0 auto;
  }

  .contacto-form h4 {
    font-size: 2rem;
  }

  .contacto-form .form_group {
    padding: 0;
  }

  .contacto-form input,
  .contacto-form textarea {
    font-size: 1rem;
  }

  .contacto-form .btn {
    padding: 0.7rem;
    font-size: 1.2rem;
  }
}

/*
  seccion de testimonios
*/

.testimonios {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.parent-carrusel {
  overflow: hidden;
  scroll-snap-type: x mandatory;
}

.dots {
  display: flex;
  justify-content: center;
  gap: 1rem;
  scroll-snap-align: start;
}

.dot {
  width: 20px;
  height: 5px;
  border-radius: 2px;
  background-color: #ffa60073;
  cursor: pointer;
}

.dot.active,
.dot:hover {
  background-color: #ffa600;
}

.testimonios-body {
  display: grid;
  grid-auto-flow: column;
  transition: transform 0.3s ease;
}

.testimonio {
  display: flex;
  width: 100dvw;
  scroll-snap-align: start;
  align-items: flex-start;
  gap: 1rem;
}

.testimonio-header {
  width: 70px;
  height: 70px;
}

.testimonio-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.testimonio-body {
  max-width: 70%;
  color: #333;
  border-radius: 5px;
}

.testimonio .testimonio-body p {
  width: calc(100% - 60px);
}

@media screen and (min-width: 768px) {
  .testimonio {
    max-width: 1200px;
    justify-content: center;
    align-items: center;

  }
  .testimonio .testimonio-body p {
    width: 100%;
    font-size: 1.2rem;
  }
}

















/*Footer section*/

footer {
  background-color: #333;
}

footer .container {
  margin-bottom: 0;
}

.footer {
  color: white;
  padding: 2rem 0;

  display: grid;
  grid-template-areas: 
    "logo"
    "social"
    "copy";
  ;

  gap: 3rem;
}

.footer h4 {
  letter-spacing: 3px;
  font-size: 1.1rem;
}

.footer h4::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #ffa600;
}

.footer-links {
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  list-style: none;
}

.footer-link {
  color: rgba(255, 255, 255, 0.651);
  text-decoration: none;
}

.footer-social {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.footer-social-list {
  display: flex;
  padding: .5rem;
  gap: 1rem;
}

.footer-social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  outline: .1rem solid orange;
}

.footer-social-link {
  color: white;
  font-size: 1rem;
}

.footer-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: .8rem;
  font-weight: 200;
}

@media screen and (min-width: 768px) {
  .footer {
    grid-template-areas: 
      "logo social"
      "copy copy";
    ;
  }

  .footer-links {
    grid-area: logo;
    display: flex;
    align-self: start;
    align-items: start;
    gap: 1rem;
  }

  .footer-social {
    align-self: flex-start;
    grid-area: social;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .footer-info {
    grid-area: copy;
  }
  
}