*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: clamp(1.5rem, 2.5vw, 2rem);
}

ul {
  list-style: none;
}

p {
  font-size: 1rem;
  color: #333;
}

.main-admin{
  display: grid;
  grid-template-areas:
  "menu nav nav" 
  "menu content content"
  "menu content content"
  "menu content content"
  "menu content content";
  ;
  grid-template-rows: 1fr 5fr 5fr 5fr 1fr;
  grid-template-columns: 0fr 3fr 3fr;
  height: 100dvh;
  align-content: space-between;
}

.nav {
  position: fixed;
  inset: 0;
  overflow: hidden;
  transition: transform .5s;
  transform: translateX(-100%);
}


.main-admin.active .nav {
  transform: translateX(0);
}

.nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding: 1rem 0;
}

.nav-content {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333;
  padding: 2rem 0;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 6rem;
  margin-bottom: auto;
  gap: 1.5rem;
  gap: 1rem;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.3rem;
  padding: 0 2rem;
  height: 50px;
  border-radius: 8px;
}

.nav .nav-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  border-radius: 6000px;
}

.nav-item.active {
  background-color: #fff; 
}

.nav-item.active .nav-icon {
  color: #333;
}

.nav .nav-item :nth-child(2) {
  display: none;
}


.header {
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 1rem;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.header-user h4 {
  font-size: 1.1rem;
}

.header-user-submenu {
  margin-right: 1rem;
}

.header-user-submenu-icon {
  font-size: 1.5rem;
  color: #333;
  cursor: pointer;
}

.header-user-submenu-icon.active {
  position: relative;
  z-index: 1;
  color: #f3f3f3;
}

.header-user-image {
  display: flex;
  align-items: center;
  position: relative;

}

.header-user-notification {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: auto;
  margin-right: 1rem;
}

.header-user-notification i {
  font-size: 1.5rem;
  color: black;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 100%;
  right: -10px;
}

.dropdown-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 150px;
  height: 0;
  overflow: hidden;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: height .1s, opacity .1s;
}

.dropdown.activate .dropdown-list {
  opacity: 1;
  overflow: visible;
  height: 150px;
}

.dropdown-list-item {
  cursor: pointer;
  height: 100%;
  background-color: #fff;

  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 2rem;
}

.dropdown-list-item:hover {
  background-color: #f9f9f9;
}

.dropdown-list-link {
  color: black;
  text-decoration: none;
}

.header-user-image img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.content {
  grid-area: content;
  overflow-y: auto;
  background-color: #dfdfdf;
}

.content-dinamic {
  display: grid;
  grid-template-areas:
  "agendaEventos"
  "taskList"
  "tableClient"
  "stadistics";
  gap: 3rem;

}

.card-shadow {
  background-color: #fff;
  transition: 0.3s;
  /* border-radius: 8px; */
  padding: 2rem;
  overflow: auto;
}


.stadistics {
  grid-area: stadistics;
}

.agenda-eventos {
  grid-area: agendaEventos;
}

.task-list {
  grid-area: taskList;
}

.table-client {
  grid-area: tableClient;
}

.table-client table {
  width: 100%;
  border-collapse: collapse;
}

.table-client th {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: left;

}

.table-client td {
  padding: 1rem;
  border-bottom: 1px solid #f2f2f2;
}

.agenda-eventos-cantidad-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding-top: .2rem;
  margin-bottom: 1.5rem;
}

.container {
  width: 85%;
  max-width: 1300px;
  margin: 0 auto;
}

.content-title {
  margin: 2rem 0;
  color: lightgray;
  font-size: 2.5rem;
  text-align: center;
}


.agenda-eventos__item {
  display: grid;
  grid-template-areas:
  "icon name lastname edad";
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #f2f2f2;;
  gap: .5rem;
  padding: .5rem;
  border-radius: 4px;
  margin-bottom: 1rem;

}

.eventos__item--icon {
  grid-area: icon;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.eventos__item--icon i.red {
  color: red;
}

.eventos__item--icon i.green {
  color: green;
}

.eventos__item--name {
  grid-area: name;
}

.eventos__item--lastname {
  grid-area: lastname;
}

.eventos__item--edad {
  grid-area: edad;
}

.eventos__item--day {
  grid-area: day;
}

.eventos__item--schedule {
  grid-area: schedule;
}

@media screen and (min-width: 768px) {

  .header {
    padding: 20px 4rem;
  }

  .main-admin{
    display: grid;
    grid-template-areas:
    "menu nav nav" 
    "menu content content"
    "menu content content"
    "menu content content"
    "menu content content";
    ;
    grid-template-rows: 1fr 5fr 5fr 5fr 1fr;
    grid-template-columns: .5fr 3fr 3fr;
    height: 100dvh;
    align-content: space-between;
  }

  .header-user-submenu {
    display: none;
  } 

  .content-dinamic {
    grid-template-areas:
    "agendaEventos taskList stadistics"
    "tableClient tableClient tableClient";
  }

  .nav {
    grid-area: menu;
    position: static;
    overflow: visible;
    transform: translateX(0%);
  }


  
  .nav-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 2rem 1rem;
  }

  
  .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.3rem;
    padding: 0 2rem;
    height: 50px;
    border-radius: 8px;
  }

  .nav-item {
    flex-direction: column;
    gap: .5rem;
    height: 70px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .nav-item:hover {
    background-color: #444;
  }

  .nav .nav-item :nth-child(2) {
    display: block;
    font-size: .9rem;
    color: #fff;
  }

  .nav-item.active :nth-child(2) {
    color: #333;
  }
}
